@import compass
@import compass/reset
@import compass/css3

$default-color : #abb1b6
$default-font: Verdana, Arial, Helvetica, sans-serif

body
  background: url( "/img/body-bg.png" )

#wrap
  background: url( "/img/page-bg.png" )
  margin: 0 auto
  width: 978px

#logo
  +hide-text
  background: url( "/img/logo.png" ) no-repeat
  display: block
  width: 194px
  height: 71px

#content-background
  background: url( "/img/background-top.jpg" ) no-repeat

#content
  padding: 0 40px

#content-heading
  padding: 50px 0 0

#content-heading-left-button-group
  +clearfix

#content-heading-left
  +clearfix
  +float-left
  width: 360px

#content-heading-right
  +float-right
  width: 530px

#slogan
  color: $default-color
  font-family: $default-font
  font-size: 30px
  line-height: 1em

#subtitle
  color: $default_color
  font-size: 13px
  line-height: 20px
  padding: 30px 0

#link-watch-video
  +hide-text
  +inline-block
  background: url( "/img/watch.png" ) no-repeat
  padding: 0 0 0 2px
  height: 16px
  position: relative
  bottom: 2px
  width: 96px

#link-download
  +float-left
  +hide-text
  background: url( "/img/download.png" ) no-repeat
  display: block
  width: 190px
  height: 59px

#link-buy
  +float-right
  +hide-text
  background: url( "/img/buy.png" ) no-repeat
  display: block
  width: 160px
  height: 59px

#previous-version-msg-block
  padding: 0 0 10px 135px

#previous-version-msg
  +single-box-shadow
  border-radius: 4px
  color: $default-color
  background: url(/img/note-bg.png)
  font-family: $default-font
  font-size: 12px
  height: 35px
  line-height: 17px
  padding: 10px 13px
  width: 365px

#link-download-capo-1-1
  border-bottom: 1px solid $default-color
  color: inherit
  font-family: inherit
  font-size: inherit
  line-height: inherit
  padding: 0 0 1px
  text-decoration: none

#content-heading-right-msg-block strong
  font-weight: bold

#capo-sample-image
  display: block
  padding: 0 30px

#content-heading-deco
  background: url( "/img/feature-divider.png" )
  clear: both
  padding: 20px 0 20px

#content-heading-deco-wrap
  background: url( "/img/page-bg-texture.png" )
  margin: 0 auto
  width: 265px

#topic
  +inline-block
  padding: 0 15px

#topic-features
  color: $default-color
  border-bottom: 1px solid #abb1b6
  float: left
  font-family: $default-font
  font-size: 25px
  text-align: center
  line-height: 20px
  padding: 0 0 4px

#topic-tutorials
  color: #414a53
  float: right
  font-family: $default-font
  font-size: 25px
  text-align: center
  line-height: 20px
  padding: 0 0 4px 15px

#content-body
  +clearfix

.content-column
  float: left
  width: 420px

#content-right-column
  padding: 0 0 0 50px

.feature-item
  height: 120px
  width: 430px

.feature-item-icon
  float: left
  padding: 3px 10px 0 0
  vertical-align: top
  width: 60px

.feature-item-body
  float: left
  padding: 0 0 0 5px
  width: 340px

.feature-item-header
  color: $default-color
  font-family: $default-font
  font-size: 13px
  padding: 0 0 10px

.feature-item-description
  color: $default-color
  font-family: $default-font
  font-size: 12px
  line-height: 16px

#footer
  padding: 0 0 70px

#footer-logo
  border-top: 1px groove #252B33
  padding: 60px 0 10px

#logo-super-mega-ultra-groovy
  +hide-text
  background: url( "/img/sublogo.png" ) no-repeat
  display: block
  height: 51px
  width: 180px
  margin: 0 auto

#related-links
  color: #2F4453
  font-family: $default-font
  font-size: 13px
  text-align: center

#related-links a
  color: #36424B
  border-bottom: 1px solid #36424B
  font-family: $default-font
  padding: 0 0 2px

