---
title: Super Mega Ultra Groovy
---

<div id="wrap">
  <div id="content-background">
    <div id="content">
      <div id="content-heading">
        <div id="content-heading-left">
          <h1>
            <a id="logo" href="#" title="Homepage">Super Mega Ultra Groovy</a>
          </h1>
          <h2 id="slogan">Reverse Engineering<br>Rock and roll</h2>
          <h3 id="subtitle">Capo is a revolutionary tool that helps you learn the music in your iTunes library. By slowing your music, and presenting a detailed spectragram, Capo lets you hear and see your music like never before.<a id="link-watch-video" href="#" title="watch video">Watch Video</a></h3>
          <div id="content-heading-left-button-group">
            <a id="link-download" href="#">Download</a>
            <a id="link-buy" href="#">Buy</a>
          </div>
        </div>
        <div id="content-heading-right">
          <div id="previous-version-msg-block">
            <div id="previous-version-msg">
              <strong>Note: </strong>Capo 2 requires Mac OS 10.6 Snow Leopard. If you are running 10.5, please <a id="link-download-capo-1-1" href="#">download Capo 1.1</a>.
            </div>
          </div>
          <img id="capo-sample-image" src="img/sample.png" alt="Capo sample image" />
        </div>
        <div id="content-heading-deco">
          <div id="content-heading-deco-left"></div>
          <div id="topic"><div id="topic-features">Features</div><div id="content-heading-divider"></div><div id="topic-tutorials">Tutorials</div></div>
          <div id="content-heading-deco-right"></div>
        </div>
      </div>
      <div id="content-body">
        <div id="content-left-column" class="content-column">
          <div class="feature-item">
            <div class="feature-item-icon">
              <img src="img/feature-1.png" alt="feature 1" />
            </div>
            <div class="feature-item-body">
              <div class="feature-item-header"><h4 class="feature-item-title">It's your music</h4></div>
              <div class="feature-item-description"><p>No longer do you have to rely on the musical tastes of others to learn music. Drag songs right from you music collection into Capo to start learning them.</p></div>
            </div>
          </div>
          <div class="feature-item">
            <div class="feature-item-icon">
              <img src="img/feature-3.png" alt="feature 3" />
            </div>
            <div class="feature-item-body">
              <div class="feature-item-header"><h4 class="feature-item-title">Detect, and Enter Chords</h4></div>
              <div class="feature-item-description"><p>Figure out the chords in your music using Capo's sophisticated chord detection routines. Or, enter your own easily using strings like 'bbmaj7' or 'f#maj9'.</p></div>
            </div>
          </div>
          <div class="feature-item">
            <div class="feature-item-icon">
              <img src="img/feature-5.png" alt="feature 5" />
            </div>
            <div class="feature-item-body">
              <div class="feature-item-header"><h4 class="feature-item-title">Pitch Adjustment</h4></div>
              <div class="feature-item-description">Capo lets you adjust the pitch of your songs&emdash;so you can change their key or fine tune them to match your instrument.</div>
            </div>
          </div>
          <div class="feature-item">
            <div class="feature-item-icon">
              <img src="img/feature-7.png" alt="feature 7" />
            </div>
            <div class="feature-item-body">
              <div class="feature-item-header"><h4 class="feature-item-title">Music Export</h4></div>
              <div class="feature-item-description">Take your capo-adjusted music with you. Export speed- and pitch-corrected audio to your iPod, and play along then and where it's most convenient.</div>
            </div>
          </div>
        </div>
        <div id="content-right-column" class="content-column">
          <div class="feature-item">
            <div class="feature-item-icon">
              <img src="img/feature-2.png" alt="feature 2" />
            </div>
            <div class="feature-item-body">
              <div class="feature-item-header"><h4 class="feature-item-title">Tab it Out!</h4></div>
              <div class="feature-item-description">By simply drawing atop the spectrogram, Capo will generate tablature automatically for you. It really doesn't get much easier than this!</div>
            </div>
          </div>
          <div class="feature-item">
            <div class="feature-item-icon">
              <img src="img/feature-4.png" alt="feature 4" />
            </div>
            <div class="feature-item-body">
              <div class="feature-item-header"><h4 class="feature-item-title">Markers</h4></div>
              <div class="feature-item-description">Use keybaord shortcuts to mark verses, choruses, bridges, and other important points in your songs so you can return to them later.</div>
            </div>
          </div>
          <div class="feature-item">
            <div class="feature-item-icon">
              <img src="img/feature-6.png" alt="feature 6" />
            </div>
            <div class="feature-item-body">
              <div class="feature-item-header"><h4 class="feature-item-title">Looping</h4></div>
              <div class="feature-item-description">Repeat diffcult sections slowly, playing along with your favorite artist. Speed up gradually as you get better.</div>
            </div>
          </div>
          <div class="feature-item">
            <div class="feature-item-icon">
              <img src="img/feature-8.png" alt="feature 8" />
            </div>
            <div class="feature-item-body">
              <div class="feature-item-header"><h4 class="feature-item-title">Effects</h4></div>
              <div class="feature-item-description">Capo lets you modify panning, adjust a 10-band graphic equalizer, and apply vocal reduction to help you isolate the parts of the music you wish to learn.</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="related-links">
    <div id="footer-logo">
      <a id="logo-super-mega-ultra-groovy" href="#" title="Goto Super Mega Ultra Groovy">Super Mega Ultra Groovy</a>
    </div>
    <div id="footer-anchors">
      <a href="http://facebook.com">Facebook</a>
      <span>●</span>
      <a href="http://blogger.com">Blog</a>
      <span>●</span>
      <a href="#">Contact Us</a>
    </div>
  </div>
</div>
