---
title: Super Mega Ultra Groovy
---

<div id="wrap">
  <div id="header">
    <div id="header-label"></div>
  </div>
  <div id="content-background">
    <div id="content">
      <div id="content-heading">
        <div id="content-heading-left">
          <div id="content-heading-left-logo">
            <img src="img/logo.png" alt="CAPO Logo" />
          </div>
          <h1 class="content-h1">Reverse Engineering</h1>
          <h1 class="content-h1">Rock and roll</h1>
          <h2 class="content-h2"><span>Capo is a revolutionary tool that helps you learn the music in your iTunes library. By slowing your music, and presenting a detailed spectragram, Capo lets you hear and see your music like never before.</span><img src="img/watch.png" alt="watch video" /></h2>
          <div id="content-heading-left-button-group">
            <a href="#"><img src="img/download.png" alt="download" /></a>
            <a href="#"><img src="img/buy.png" alt="buy" /></a>
          </div>
        </div>
        <div id="content-heading-right">
          <div id="content-heading-right-msg-block">
            <p><strong>Note: </strong><span>Capo 2 requires Mac OS 10.6 Snow Leopard. If you are running 10.5, please <span><a href="#">download Capo 1.1</a><span>.</span></p>
          </div>
          <div id="content-heading-right-sample-img">
              <img image="" src="img/sample.png" alt="sample" />
          </div>
        </div>
        <div id="content-heading-deco">
          <div id="content-heading-deco-left">
            <img src="/img/features-top-line.png" alt="features"></img>
          </div>
          <div id="content-heading-deco-middle">
            <div id="content-heading-deco-features">
                <span>Features</span>
            </div>
            <div id="content-heading-deco-tutorials">
                <span>Tutorials</span>
            </div>
          </div>
          <div id="content-heading-deco-right">
            <img src="/img/features-top-line.png" alt="features"></img>
          </div>
        </div>
      </div>
      <div id="content-body">
        <div id="content-left-column" class="content-column">
          <div class="content-item">
            <div class="content-item-icon">
              <img src="img/feature-1.png" alt="feature 1" />
            </div>
            <div class="content-item-body">
              <div class="content-item-header"><h3 class="content-item-title">It's your music</h3></div>
              <div class="content-item-description"><p>No longer do you have to rely on the musical tastes of others to learn music. Drag songs right from you music collection into Capo to start learning them.</p></div>
            </div>
          </div>
          <div class="content-item">
            <div class="content-item-icon">
              <img src="img/feature-3.png" alt="feature 3" />
            </div>
            <div class="content-item-body">
              <div class="content-item-header"><h3 class="content-item-title">Detect, and Enter Chords</h3></div>
              <div class="content-item-description"><p>Figure out the chords in your music using Capo's sophisticated chord detection routines. Or, enter your own easily using strings like 'bbmaj7' or 'f#maj9'.</p></div>
            </div>
          </div>
          <div class="content-item">
            <div class="content-item-icon">
              <img src="img/feature-5.png" alt="feature 5" />
            </div>
            <div class="content-item-body">
              <div class="content-item-header"><h3 class="content-item-title">Pitch Adjustment</h3></div>
              <div class="content-item-description">Capo lets you adjust the pitch of your songs&emdash;so you can change their key or fine tune them to match your instrument.</div>
            </div>
          </div>
          <div class="content-item">
            <div class="content-item-icon">
              <img src="img/feature-7.png" alt="feature 7" />
            </div>
            <div class="content-item-body">
              <div class="content-item-header"><h3 class="content-item-title">Music Export</h3></div>
              <div class="content-item-description">Take your capo-adjusted music with you. Export speed- and pitch-corrected audio to your iPod, and play along then and where it's most convenient.</div>
            </div>
          </div>
        </div>
        <div id="content-right-column" class="content-column">
          <div class="content-item">
            <div class="content-item-icon">
              <img src="img/feature-2.png" alt="feature 2" />
            </div>
            <div class="content-item-body">
              <div class="content-item-header"><h3 class="content-item-title">Tab it Out!</h3></div>
              <div class="content-item-description">By simply drawing atop the spectrogram, Capo will generate tablature automatically for you. It really doesn't get much easier than this!</div>
            </div>
          </div>
          <div class="content-item">
            <div class="content-item-icon">
              <img src="img/feature-4.png" alt="feature 4" />
            </div>
            <div class="content-item-body">
              <div class="content-item-header"><h3 class="content-item-title">Markers</h3></div>
              <div class="content-item-description">Use keybaord shortcuts to mark verses, choruses, bridges, and other important points in your songs so you can return to them later.</div>
            </div>
          </div>
          <div class="content-item">
            <div class="content-item-icon">
              <img src="img/feature-6.png" alt="feature 6" />
            </div>
            <div class="content-item-body">
              <div class="content-item-header"><h3 class="content-item-title">Looping</h3></div>
              <div class="content-item-description">Repeat diffcult sections slowly, playing along with your favorite artist. Speed up gradually as you get better.</div>
            </div>
          </div>
          <div class="content-item">
            <div class="content-item-icon">
              <img src="img/feature-8.png" alt="feature 8" />
            </div>
            <div class="content-item-body">
              <div class="content-item-header"><h3 class="content-item-title">Effects</h3></div>
              <div class="content-item-description">Capo lets you modify panning, adjust a 10-band graphic equalizer, and apply vocal reduction to help you isolate the parts of the music you wish to learn.</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="footer">
    <hr id="footer-divider"/>
    <div id="footer-logo">
      <img src="img/sublogo.png" alt="super mega ultra groovy sub log" />
    </div>
    <div id="footer-anchors">
      <a href="http://facebook.com">Facebook</a>
      <span>●</span>
      <a href="http://blogger.com">Blog</a>
      <span>●</span>
      <a href="#">Contact Us</a>
    </div>
  </div>
</div>
